body {
  max-width: 1024px;
  padding: 16px;
  margin: 0 auto;
  font-family: Avenir,
    Helvetica,
    Arial,
    sans-serif;
  color: #333;
  background-color: #fefefe;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
