.project-body {
  display: flex;
  gap: 16px;
}

.project-body .stadium-image {
  min-width: 60%;
}

.project-body .aside {
  display: flex;
  flex-direction: column;
  gap: 16px
}

.project-body .donation-box {
  background-color: white;
  border: 1px solid #e4e4e4;
  box-shadow: 1px 2px #e4e4e4;
  padding: 16px;
  border-radius: 4px;
  width: 100%;
}

.project-body .target-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-body .current {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.project-body .description {
  margin-bottom: 8px;
}

.project-body .target-status {
  display: flex;
  width: fit-content;
  color: #ff0000;
  background-color: #ff000020;
  padding: 4px;
  border-radius: 4px;
  font-size: 12px;
}

.project-body .actual-donation {
  font-size: 2.125rem;
  line-height: 1.15;
  font-weight: 700;
}

.project-body .target {
  font-size: .875rem;
  line-height: 1.4;
  color: #666;
}

.project-body .share {
  width: 100%;
  background-color: #fefefe;
  border: 2px solid #317da0;
  outline-color: #479ec7;
  border-radius: 10px;
  color: #317da0;
  transition: background-color .25s ease-out,
    color .25s ease-out;
  font-weight: 700;
  padding: .6875rem 1rem;
  margin-top: 4px;
}

.project-body .share:hover {
  background-color: #479ec7;
  border-color: #479ec7;
  color: #fff;
}

.project-body .donation-predefined-container {
  display: flex;
  gap: 8px;
  width: 100%;
  margin-bottom: 16px;

}

.project-body .donation-predefined-container button {
  margin-top: 8px;
  flex: 1;
  font-weight: 700;
  border: 1px solid white;
  border-radius: 10px;
  line-height: 1.3;
  padding: 8px 0;
  cursor: pointer;
}

.project-body .donation-button-selected {
  background-color: #317da0;
  border-color: #fff;
  color: #fff;
  outline: 2px solid;
  outline-color: #317da0;
}

.project-body .input-wrapper {
  position: relative;
  margin-top: 8px;
  width: 100%;
}

.project-body .input-wrapper::before {
  content: "$";
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #666;
  font-weight: 600;
  pointer-events: none;
}

.project-body .amount-donation {
  width: 100%;
  border-radius: 10px;
  font-weight: 400;
  border: 1px solid #ccc;
  box-sizing: border-box;
  padding: 10px;
  padding-left: 28px;
}

.project-body .donate-button {
  width: 100%;
  margin-top: 10px;
  background-color: #de2b6a;
  color: white;
  font-weight: 700;
  padding: .6875rem 1rem;
  border: 2px solid transparent;
  border-radius: 10px;
  transition: background-color .25s ease-out,
    color .25s ease-out;
}

.project-body .donate-button:hover {
  background-color: #e55588;
  outline: 1px solid #e55588;
}
